@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 576px){
    .orientation{
        width: 150px;
        height: 150px;
        img{
            height: 100px;
        }
    }
}