@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 768px){
    #noMoreTables tbody,#noMoreTables tr,#noMoreTables td{
        display: block;
    }
    #noMoreTables thead tr{
        position: absolute;
        top: -99999px;
        left: -99999px;
    }
    #noMoreTables td{
        position: relative;
        text-wrap: wrap;
        display: flex;
        text-align: left !important;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #noMoreTables td::before{
        content: attr(data-title);
        font-weight: bold;
    }
}
@media screen and (max-width: 576px){
    .orientation{
        width: 150px;
        height: 150px;
        img{
            height: 100px;
        }
    }
}