@import "variable";
.select-wrapper{
    display: flex;
    position: relative;
}
.select-multiple-container{
    border: 1px solid #ced4da;
    background-color: $white;
    cursor: pointer;
    padding: .375rem .75rem;
    border-radius: .25rem;
}
.select-multiple{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.select-multiple-content{
    list-style:none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    border-radius: .25rem;
    z-index: 10;
    max-height: 20vh;
    overflow-y: scroll;
    border: 1px solid $secondary;
    background-color: $white;
}
.select-multiple-content li{
    padding: 0.5rem 1rem;
    cursor: default;
}
.select-multiple-content label{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}