@import "mixin";
.review-stars{
    i{
        font-size: 0.75rem;
        color:$color1;
    }
}
.review-measure{
    i{
        font-size: 1rem;
        color:$color1; 
    }
}
.review-rate{
    button{
        background-color: unset;
        border: none;
        color: $color1;
    }
}
.comment-list{
    list-style: none;
    padding: 0;
    padding-top: 10px;
    .comment-info{
        height: 50px;
        img{
            border-radius: 50%;
            height: 100%;
        }
    }
}